
<nav class="navbar">
        <div class="nav-container">
            <div class="nav-logo">
                <span class="logo-text" data-content="name">{{dataobject.name}}</span>
            </div>
            <ul class="nav-menu">
            <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="nav-link">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active" class="nav-link">About</a></li>
            <li><a routerLink="/services" routerLinkActive="active" class="nav-link">Services</a></li>
            <li><a routerLink="/projects" routerLinkActive="active" class="nav-link">Projects</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>
